@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,300,100,500,700,800,900);

html,body {
    font-family: 'Alegreya Sans', sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    font-weight:300;
    letter-spacing: 1px;
    color: #5D5D5D;
}


/*
::-webkit-scrollbar { 
    display: block; 
}
*/

.row{
    margin: 0px;
}

h1{
    font-size: 22px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 14px;
}
h6{
    font-size: 12px;  
}

p{
    font-size: 14px;
    font-weight: 300;
}

.bold{
    font-weight: 500;   
}


/* NavBar Starts */
nav{
    background-color: transparent;
    padding: 0px 5px;
    box-shadow: none;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
}

nav.green_colored{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    background-color: #85c318;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    
}

nav .brand-logo{
    padding: 5px 20px;
    line-height: 1.7em;
}

nav .brand-logo span{
    background: #85c318;
    color: #FFFFFF;
    font-weight: 500;
    margin: -2px 4px;
    padding: 0px 2px;
     transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
}

nav.green_colored .brand-logo span{
    background: #FFFFFF;
    color: #949494;
     transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
}

nav ul li a{
    font-weight: 500;
    text-transform: uppercase;
}


nav .nav-wrapper i{
    display: inline-block;
    height: auto;
    line-height: 64px;
    font-size: 17px;
    vertical-align: bottom;
}


nav img.profile_image{
    vertical-align: middle;
    margin: 0px 5px 0px 0px;
}

nav #loggedInOptions,
nav #Notifications{
    top: 64px !important;
    right: 0px !important;
}

nav .dropdown-content{
    min-width:300px !important;
}

nav ul.dropdown-content li{
    height: auto;
    border-bottom: 1px solid #efefef;
}
nav ul.dropdown-content li a{
    position: relative;
    font-size: 14px;
    color: #85C318;
}
nav ul.dropdown-content li a i{
    font-size: 16px;
}

nav ul.dropdown-content li a span.badge{
    min-width: 3rem;
    padding: 0 6px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: inherit;
    color: #ffffff;
    text-transform: lowercase;
    position: absolute;
    right: 15px;
    box-sizing: border-box;
}


/* NavBar Ends */

/* Video Starts */
video.bgvid {
    
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background: url(../images/intro_for_ipad.jpg) no-repeat;
    background-size: cover;
}
/* Video Ends */

/* Tagline Starts */
.home_tagline{
    font-size: 50px;
/*    background: rgba(0,0,0,0.4);*/
}

/* Tagline Ends */


/* Title Starts */

.title{
    position: relative `    ;
    font-size: 50px;
    font-weight: 100;
    text-transform: capitalize;
    text-align: center;
    padding: 60px 0px 20px 0px;
}

.title span{
    font-weight: 300;
    text-transform: uppercase;
}

.tgreen{
    background-color: #85c318;
}

.tgreen-text{
    color: #85c318 !important;
}


.talent_title{
    position: relative;
    font-size: 30px;
    font-weight: 300;
    text-transform: capitalize;
    text-align: center;
}

/* Title Ends */


/* Margin Classes Starts */

.margin_top_20{
    margin-top: 20px;
}
.margin_top_40{
    margin-top: 40px;
}
.margin_top_60{
    margin-top: 60px;
}
.margin_top-65{
    margin-top: -65px;
}


.margin_bottom_20{
    margin-bottom: 20px;
}
.margin_bottom_40{
    margin-bottom: 40px;
}
.margin_bottom_60{
    margin-bottom: 60px;
}

/* Margin Classes Ends */

.padding_zero{
    padding: 0px !important;
}


/* Image Classes Starts */
.img_bordered{
    margin: 10px auto;
    border: 8px solid #eaeaea;
}

.img_greyscale{
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
}

/* Image Classes Ends */


/* Buttons  Starts */
.rounded_button{
    height: 60px;
    font-weight: 500;
    width: auto;
    border-radius: 30px;
    padding: 10px 35px;
    outline: none;
    font-size: 20px;
    border: 1px solid #85c318;
    background-color: transparent;
    box-shadow: 0px 0px transparent;
    background: transparent;
    color: #85c318;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
}

.rounded_button:hover,
.rounded_button:active,
.rounded_button:focus{
    border: 1px solid #85c318;
    background:#85c318;
    color: #fafafa;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
}

.tsbmit_btn{
    background-color: #85c318;
    font-size: 1.0rem;
    font-weight: 500;
    vertical-align: middle;
}

.tsbmit_btn:hover,
.tsbmit_btn:active,
.tsbmit_btn:focus{
    background-color: #85c318;
}


/* Buttons  Ends */



/* search_container Starts */

.search_container{
 position: relative;
}

.search_container .search_input{
    outline: none;
    border: 1px #b6b6b6 solid;
    border-radius: 80px;
    height: 40px;
    padding: 20px 15% 20px 5%;
    width: 80%;
    color: #b6b6b6;
    font-size: 25px;
}

.search_container .search_input:hover,
.search_container .search_input:active,
.search_container .search_input:focus{
    border: 1px #85c318 solid;
    border-bottom: 1px solid #85c318 !important;
    box-shadow: 0 1px 0 0 #85c318 !important;
}

.search_container .search_input:hover + button i,
.search_container .search_input:active + button i,
.search_container .search_input:focus + button i{
    color: #85c318;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
}

.search_container button{
    position: absolute;
    top: 0px;
    right: 10px;
    height: 82px;
    width: 82px;
    background: transparent;
    outline: none;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
}

.search_container button:hover i{
    color: #85c318;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
}

.search_container button i{
    line-height: 82px;
    font-size: 40px;
    color: #b6b6b6;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
}
/* search_container Ends */


/* talent_item Starts */

.talent_item_container{
    position: relative;
    text-align: center;
}

.talent_item{
    width: 230px;
    margin: 20px 10px;
    text-align: center;
    background: #FFFFFF;
    display: inline-block;
    z-index: 10;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
}

.talent_item:hover{
    background: #85c318;
    cursor: pointer;
    z-index: 11;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
}

.talent_item:hover .talent_title{
    color: #FFFFFF !important;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
}
/* talent_item Ends */


/* Why talent cave Section Starts */
    
.why_us_section{
    
    
}

.why_us_section h2.title{
    font-size: 28px;
    padding: 0px;
    text-transform: lowercase;
    font-weight: 300;
}

.why_us_section p.desc{
    line-height: 1.1em;
    font-size: 17px;
    letter-spacing: 0px;
    padding: 0px 30px;
}
/* Why talent cave Section Ends */


/* how_it_works_section Starts */
.how_it_works_section p.tgreen-text i{
    font-size: 50px;
}

.how_it_works_section p{
    font-size: 20px;
    padding-bottom: 20px;
}
/* how_it_works_section Ends */


/* signup_option_container Starts */

.signup_option_container{
    position: relative;
}

.signup_option_container .curved_box{
    position: relative;
    border:1px solid #fafafa;
    border-radius: 50px;
    padding: 0px 0px 40px 0px;
    height: auto;
}

.signup_option_container .curved_box p.title{
    font-size: 28px;
    padding: 20px;
    font-weight: 300;
}

.signup_option_container .curved_box .vertical_divider{
    position:absolute;
    left:50%;
    top:10%;
    bottom:10%;
    border-left:1px solid white;
}

/* signup_option_container Ends */


/* Login Page Cpntainer Starts */
.login_page_container{
    position: relative;
}

.login_page_container .vertical_divider{
    position:absolute;
    left:50%;
    top:10%;
    bottom:10%;
    border-left:1px solid #e0e0e0;
}


.login_page_container h2{
    text-transform: uppercase;
    font-size: 22px;
}

.login_page_container .social_login{
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 500;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

/* Login Page Cpntainer Ends */



/* Filters Page Starts */

.filter_title{
    position: absolute;
    bottom: 30px;
    left: 30px;   
}

.filter_title h1{
    font-weight: 500;
    font-size: 35px;
    padding-left: 30px;
    margin: 0px;
    text-transform: uppercase;
}

.filter_title h2{
    font-weight: 500;
    font-size: 16px;
    padding-left: 30px;
    margin: 10px 0px;
}

.filter_page_section{
/*    padding: 0px 30px 20px 0px;*/
}

.breadcrumb_section{
    padding: 20px 0px;
}

.breadcrumb_section .breadcrumb {
    font-weight: 500;
    font-size: 15px;
    color: #85c318;
}
.breadcrumb_section .breadcrumb.active{
    color: #949494;
}

.breadcrumb_section .breadcrumb:first-child:before{
    content: '';
}

.breadcrumb:before {
    content: '\E5CC';
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-style: normal;
    margin: 0 4px;
    -webkit-font-smoothing: antialiased;
}


.filter_page_section .left_col,
.filter_page_section .right_col{
/*    margin: 0px 10px;*/
}


.filters_option_section{
    
}

.filters_option_section .header{
    background: #85C318;
    color: #FFFFFF;
    line-height: 30px;
    padding: 10px 20px;
    font-size: 20px;
}

.filters_option_section .header i{
    line-height: 30px;
}

.filters_option_section .scrollable{
    position: relative;
    height: 200px;
    padding: 10px 20px;
    margin-bottom: 10px;
    overflow-y: scroll;
}

.profiles_list_container{
    padding: 0px 10px;
}

.profiles_list_container .item{
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #E4E4E4;
}

.profiles_list_container .item:last-child{
    border-bottom: none;
}

.profiles_list_container .item .name{
    text-transform: capitalize;
    line-height: 50px;
    font-size: 35px;
    margin-top: 15px;
    padding: 0px 5px;
}

.profiles_list_container .item .tagline{
    text-transform: capitalize;
    line-height: 16px;
    font-size: 14px;
    padding: 0px 5px;
    font-weight: 500;
}
.profiles_list_container .item .address{
    text-transform: capitalize;
    line-height: 25px;
    font-size: 14px;
    padding: 0px 5px;
    font-weight: 500;
}

.profiles_list_container .item .rating{
    padding: 0px 5px;
} 

.profiles_list_container .item .rating i{
    line-height: 25px;
    font-size: 18px;
    color: #FF9D00;
}
.profiles_list_container .item .profile_btn{
    margin-top: 50px;
}

.profiles_list_container .item .popularity{
    margin-top: 15px;
}



/* Filters Page Ends */





/* Profile Page Starts */
.profile_container{
    position: relative;
}

.profile_header{
    margin-top: -140px;
}


.profile_header img{
    display: inline-block;
    vertical-align: top;
}

.profile_header .name{
    display: inline-block;
    vertical-align: top;
    font-size: 45px;
    line-height: 55px;
    margin-top: 50px;
}

.profile_header .tagline{
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px !important;
}

.profile_header .stats{
   margin-top: 10px;
}

.profile_header .stats ul{
    margin: 0px;
    padding: 0px;
}

.profile_header .stats ul li{
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

.profile_header .stats ul li.line{
    font-size: 25px;
    font-weight: 300;
    color: #C5C3C3;
}

.profile_header .stats ul li p{
    text-transform: uppercase;
    margin: 10px 0px;
    margin-bottom: 0px;
    font-size: 16px;
}
.profile_header .stats ul li p.value{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}

.profile_header .stats ul li p.rating{
   color: #FF9D00;
}

.profile_header .free_quote_btn{
    margin-top: 65px;
}

.profile_header .free_quote_btn .rounded_button{
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.profile_header .free_quote_btn .rounded_button:hover{
    border: 2px solid #85C318;
}


.profile_container .left_col{
    padding: 20px;
}

.profile_container .left_col,
.profile_container .right_col{
    margin-bottom: 20px;
}

.profile_container .left_col .heading{
    padding: 5px 0px;
    font-weight: 500;
    margin-bottom: 10px;
    border-bottom: 1px solid #efefef;
}


.profile_container .left_col .basics{
    list-style: none;
    margin: 0px;
}

.profile_container .left_col .free_quote_btn{
    text-align: center;
    margin-top: 30px;
    line-height: 50px;
}

.profile_container .left_col .basics li{
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 5px;
}

.profile_container .left_col .basics li i{

    font-size: 16px;
    line-height: 25px;
    width: 30px;
    height: 30px;
    text-align: center;
}


.profile_container .right_col .welcome_tab,
.profile_container .right_col .photos_tab,
.profile_container .right_col .videos_tab{
    padding: 10px 0px;
}




/* photos_tab */
.profile_container .right_col .photos_tab .gallary{
    
}

.profile_container .right_col .photos_tab .gallary .item{
    position: relative;
    text-align: center;
    height: 200px;
    margin: 10px 0px;
}

.profile_container .right_col .photos_tab .gallary .item img{

}

.profile_container .right_col .photos_tab .gallary .item .add_new{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 12px;
    right: 12px;
    text-align: center;
    border: 1px dashed #CCC;
}

.profile_container .right_col .photos_tab .gallary .item .add_new a{
    margin-top: 75px;
    cursor: pointer;
}


.profile_container .right_col .photos_tab .gallary .item .options{
    padding: 5px 0px;
    position: absolute;
    bottom: 0;
    left: 12px;
    right: 12px;
    background: #85C318;
}


.profile_container .right_col .photos_tab .gallary .item .options a{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin: 0px 10px; 
    color: #fafafa;
}



/* video tab */

.profile_container .right_col .videos_tab .gallary{
    
}

.profile_container .right_col .videos_tab .gallary .item{
    position: relative;
    text-align: center;
    width: 200px;
    height: 150px;
    margin: 10px 0px;
}

.profile_container .right_col .videos_tab .gallary .item img{
    width: 200px;
    height: 150px;
}

.profile_container .right_col .videos_tab .gallary .item .add_new{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 12px;
    right: 12px;
    text-align: center;
    border: 1px dashed #CCC;
}

.profile_container .right_col .videos_tab .gallary .item .add_new a{
    margin-top: 50px;
    cursor: pointer;
}

.profile_container .right_col .videos_tab .gallary .item .options{
    padding: 5px 0px;
    position: absolute;
    bottom: 0;
    left: 12px;
    right: 12px;
    background: #85C318;
}


.profile_container .right_col .videos_tab .gallary .item .options a{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin: 0px 10px; 
    color: #fafafa;
}



/* Profile Page Ends */




















/* Footer Starts */

.footer_section{
    min-height: 350px;
    padding: 50px 20px 20px 20px !important;
}

.footer_section .line{
    height: 2px;
    width: 100%;
    margin-bottom: 10px;
}


.footer_section .social{
    padding-top: 20px;
}

.footer_section .footer_links a{
    font-size: 12px;
    text-transform: uppercase;
    margin: 0px 10px;
}


@media screen and (max-width: 960px) {
    .footer_section .footer_links a{
        display: block;
    }
}

.footer_section .copyright{
    margin: 50px 10px 0px 10px;
}


/* Footer Ends */